body {
    text-align: center;
    font-family: Arial;
    background-color: #f2f2f2;
}

.links a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.links a:hover {
    background-color: #0056b3;
}
